<h1>Listing posts</h1>

<% Post.all.each do |post| %>
	<% div_for(post) do %>
		<h2><%= link_to post.title, post_path(post) %></h2>
		<p><%= post.body %></p>
    <p>
			<%= link_to 'Edit', edit_post_path(post) %> |
    	<%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
		</p>
	<% end %>
<% end %>